* {
  font-family: "Crimson Text", serif;
  box-sizing: border-box;
  /*làm padding không ảnh hưởng đến input*/
}

body {
  display: flex;
  background: radial-gradient(circle at 50% 50%, #84a9ff, #f5f8ff);
  margin: 0px; /*Xoa khoang trang toan trang*/
  padding: 0px;
  
}

h1{
    text-align: left;
    font-weight: bold;
    font-style: italic;
    color:#011f82;
    font-family: "Georgia Pro", Georgia, serif;
    font-size:30px;
    text-shadow:1px 1px 2px;
}

.form{
    display: flex;
    flex-direction: column;
    background-color: #e6e0ff;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    width: 50vw;
    height: 100%;
    margin: 40px 0px 0px 80px;
    padding: 40px;
}

.form h1{
    text-align: center;
    font-style: normal;
    margin-bottom: 40px;
    color: #4864e3;
}

.nhap{
    color: #4864e3;
    display: flex;
    flex-direction: column;
    margin:0px 50px 40px 50px;
}

.nhap label{
    font-size: 25px;
}

.nhap input{
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
}

button{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    border: none;
    width: 30vw;
    margin: 0px 100px 0px 100px; 
    border-radius: 20px;
    background-color: #aab8fb;
    color: #4864e3;
    padding: 10px;
    transition: transform 1s ,background-color 1s;
}

button:hover{
    transform: scale(1.1,1.1);
    background-color: white;
}


.back-button {
  display: inline-block;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin: 30px auto 0;
  padding: 15px 30px;
  width: fit-content;
  border-radius: 15px;
  text-decoration: none;
  background-color: #d4dbff;
  color: #2f3ecb;
  border: 2px solid #2f3ecb;
  transition: background-color 0.3s ease;
  height: 50%;
}

.back-button:hover {
  background-color: #b5c4ff;
}
