*{
    box-sizing: border-box;
}

body{
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-style: normal;
    background: radial-gradient(circle at 50% 50%, #84a9ff, #f5f8ff, #b8e1ff);
    height:100vh;
    padding-top:40px;
    overflow-x:scroll;
    overflow-y:hidden;
}


h1{
    text-align: center;
    font-size: 60px;
    color: #4864e3;
    margin-bottom:30px;
    font-family: "Noto Serif Display";
    font-style: italic;
    font-weight: bold;
    text-shadow: 3px 3px 5px;
}
div.khungvien{
    background-color: #f7fdff;
    border-radius: 30px;
    margin-left:100px;
    margin-right:100px;
    height: 550px;
    
}

div.Chon{  /*div.chon là phần tử cha bên trong có 2 div con chính là item của div cha*/
    display:flex;
    flex-direction: row; /*flex dạng 1 hàng*/
    justify-content: center;
    text-align:center;
    color: #4864e3;
    
    font-size:40px;
    
    /*border: 2px solid #e4eaec;
    border-radius: 30px;
    background-color: #e4eaec;*/
    /*margin-left:39.2vh;
    margin-right: 39.2vh;
    margin-top:30px;
    box-shadow: 0px 0px 40px  blue;*/
    text-transform: capitalize;
}
div.giangvien{
    margin-left:100px;
    border-radius: 30px 30px;
    background-color: #f7fdff;
    border: 2px solid #4864e3;
    box-shadow: 0px 0px 40px  #4864e3;;
    padding-bottom:10px;
    
    transition: background-color 0.5s ease,color 0.5s ease;
}
div.hocsinh{
    margin-right:100px;
    background-color: #f7fdff;
    border: 2px solid #4864e3;
    box-shadow: 0px 0px 40px  #4864e3;
    border-radius: 30px 30px;
    transition: background-color 0.5s ease,color 0.5s ease;
    
}


div.giangvien:hover,div.hocsinh:hover{ 
    background-color: #4864e3;
    color:black;
}








a.form1{
    
    
    text-decoration: none;
    text-align: center;
    
    
    
}

a.form2{
    
    
    text-decoration: none;
    text-align: center;
    
    
}

img{
    
    width:35vh;
    
    display:block;
    
}

p{
    display: inline;
    
}

